.order-container  {
    text-align: center;
    border:1px solid black;
    padding: 20px;
    height: 500px;

}

.order-heading h2  {
    text-align: center;
    text-transform: uppercase;
    padding:10px;
}


.flex {
    display: flex;
    flex-direction: row;
}

.order-container p {
    color:#BA2329;                

}

 input {
    outline:none;
    width:100%;
    text-align: center;
    border:none;
    font-size: 20px;
    border-bottom: 1px solid black;
}
input:focus {
    border-bottom:1px solid #BA2329 ;
    transition: 500ms ease-in-out;
}

.email-input input {
position: relative;
top:70px;
}


.next {
    margin:20px;
}

@media (max-width: 800px) {

  .order-container  .flex {
    display: flex;
    flex-direction: column;
    padding:30px;
  
  }

 
    
   
 }


