
.flex {
    display: flex;
    justify-content: space-evenly;
    
   }

  


@media (max-width: 800px) {
    .flex {
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: hidden;
   }
}
.flex:first-child {
    margin-bottom: 30px;
}