@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
body {
  font-family:"Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;

}
.btn   {
  font-size: 20px;
  padding: 10px  20px;
  text-decoration: none;
  border: none;
  outline: none;
  background:#BA2329;;

}



.btn:active {
background: #007ddb;}



 

