body {
  font-family:"Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;

}
.btn   {
  font-size: 20px;
  padding: 10px  20px;
  text-decoration: none;
  border: none;
  outline: none;
  background:#BA2329;;

}



.btn:active {
background: #007ddb;;}



 

