.drinks {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.drinks .beerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.drinks .beerList .drink {
    height: 200px;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    margin:5px ;
    cursor: pointer;
}

 .selected-drink {
    display: none;
    font-size: 100px;
    width: 40px;
    color:#ba2329;;
    font-weight: bolder;
    position: absolute;
    top: 0%;
    right: 50%;
    text-align: center;
}


.drink.tick .selected-drink {
    display: block;
}
 .beerList .drink .image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
 .beerList .drink .title {
    position: absolute;
    bottom: 0px;
    left:30%;
    text-align: center;
    background-color: rgba(248, 236, 236, 0.8);
    padding: 10px;
    
}

.drinks .next button {
    width: 100%;
    margin-top: 20px;
}


@media (max-width: 800px) {
   
    .drinks {
        display: block;
        
    }

}
